@import('./roboto.mixins')

// Roboto Fontface
Roboto($type: 'Thin',       $weight: 100, $style: normal);
Roboto($type: 'ThinItalic', $weight: 100, $style: italic);

Roboto($type: 'Light',       $weight: 300, $style: normal);
Roboto($type: 'LightItalic', $weight: 300, $style: italic);

Roboto()
Roboto($type: 'RegularItalic', $style: italic);

Roboto($type: 'Medium',       $weight: 500, $style: normal);
Roboto($type: 'MediumItalic', $weight: 500, $style: italic);

Roboto($type: 'Bold',       $weight: 700, $style: normal);
Roboto($type: 'BoldItalic', $weight: 700, $style: italic);

Roboto($type: 'Black',       $weight: 900, $style: normal);
Roboto($type: 'BlackItalic', $weight: 900, $style: italic);