@import('./roboto.mixins')

// RobotoCondensed Fontface
RobotoCondensed($type: 'Light',       $weight: 300, $style: normal);
RobotoCondensed($type: 'LightItalic', $weight: 300, $style: italic);

RobotoCondensed()
RobotoCondensed($type: 'RegularItalic', $style: italic);

RobotoCondensed($type: 'Bold',       $weight: 700, $style: normal);
RobotoCondensed($type: 'BoldItalic', $weight: 700, $style: italic);