@import('./roboto.mixins')

// RobotoSlab Fontface
RobotoSlab($type: 'Thin',       $weight: 100, $style: normal);
RobotoSlab($type: 'ThinItalic', $weight: 100, $style: italic);

RobotoSlab($type: 'Light',       $weight: 300, $style: normal);
RobotoSlab($type: 'LightItalic', $weight: 300, $style: italic);

RobotoSlab()
RobotoSlab($type: 'RegularItalic', $style: italic);

RobotoSlab($type: 'Bold',       $weight: 700, $style: normal);
RobotoSlab($type: 'BoldItalic', $weight: 700, $style: italic);