@import('./roboto.mixins')

// RobotoSlab Fontface
RobotoSlab($type: 'Thin',       $weight: 100, $style: normal);
RobotoSlab($type: 'Light',       $weight: 300, $style: normal);
RobotoSlab()
RobotoSlab($type: 'Bold',       $weight: 700, $style: normal);
